

.navbar {
    width: 97vw;
    display: flex;
    justify-content: space-evenly;
    padding: 10px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    
    font-weight: bold;
    color: #333;
  }
 h1{
    font-size: 25px;
    font-weight: bold;
    color: #333;
 
 }
  

@keyframes rotateLogo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .navbar-logo img {
    width: 40px;
    height: 40px;
    animation: rotateLogo 1.5s linear infinite; /* Rotates in 2 seconds continuously */
  }
  
  .upperpanel, .downpanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  
  .navbar-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 20px;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    position: relative;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .navbar-links a:hover {
    color: #ffa500;
  }
  

.dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-button {
    background-color: #fff;
    border: 1px solid #fff;
   
    font-size: 16px;
    cursor: pointer;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .dropdown-button:hover {
   color: #ffa500;
  }
  
  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    list-style: none;
    padding: 10px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 200px;
    display: none;
  }
  
  .dropdown-menu li {
    padding: 10px 15px;
  }
  
  .dropdown-menu li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    transition: color 0.3s ease;
  }
  
  .dropdown-menu li a:hover {
    color: #ffa500;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  
  .dropdown-menu li:hover {
    background-color: #f7f7f7;
  }
  
  .navbar-links li:hover .dropdown {
    display: block;
  }
  
  
  
    @keyframes colorChange {
        0% { background-color: yellow; }
        33% { background-color: #ffa500; }
        66% { background-color: red; }
        100% { background-color: yellow; }
      }
      
      .new-badge {
        display: inline-block;
        height: 13px;
        width: auto; 
        position: relative;
        top: -10px;
        background-color: yellow;
        color: black;
        padding: 2px 5px;
        font-size: 12px;
        border-radius: 5px;
        margin-left: 5px;
        animation: colorChange 1.25s infinite;
      }
      
 
  
  .navbar-actions {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .lang-switch,
  .login-btn {
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .lang-switch:hover,
  .login-btn:hover {
    background-color: #f0f0f0;
  }
  
  .login-btn {
    background-color: yellow;
    color: black;
    border-radius: 5px;
    font-weight: bold;
  }
  